@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: blue;
}

header{
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

header > h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    font-weight: bolder;
    text-align: center;
}

main > section > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
}

main > section > div{
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: white;
}

main > section > div > img{
    padding-top: 22%;
}

footer > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
}
